mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  mat-form-field {
    width: 300px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .search-bar {
    margin-top: 1.5rem;

  }

}
