<div class="users-table">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>

  <div class="desktop-view" *ngIf="!isLoadingResults">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let user">
          <img [src]="user.avatar" width="50" alt="Avatar">
        </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.first_name}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{user.last_name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-effect" (click)="goToUserDetails(row)">
      </tr>
    </table>
  </div>

  <div class="mobile-view"  *ngIf="!isLoadingResults">
    <mat-card *ngFor="let user of dataSource.data" (click)="goToUserDetails(user)" class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <img [src]="user.avatar" alt="User Avatar">
        </div>
        <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>ID:</strong> {{ user.id }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-paginator *ngIf="!isLoadingResults" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <div class="spinner" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

</div>
